.Titulos{
    -fx-font-family: "Berlin Sans FB";
    -fx-font-style: italic;
    -fx-font-size: 36px;
    -fx-text-fill: #FFFFFF;
}
.textosNormales{
    -fx-font-family: "Berlin Sans FB";
    -fx-font-style: italic;
}
.botonLogin{
    -fx-background-color: #0d4aff;
    -fx-border-color: #FFFFFF;
    -fx-border-width: 2;
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "Times New Roman";
    -fx-font-style: italic;
    -fx-background-radius: 10 10 10 10;
    -fx-border-radius: 10 10 10 10;
}
.botonVistas{

    -fx-border-color: none;
    -fx-background-color: none;
    -fx-text-fill: white;

}


.button{
    -fx-font: 13px "Segoe UI";
}


   .table-cell {
       -fx-padding: 0.5em 0.5em 0.1em 0.3em;
       -fx-border-color: -fx-box-border -fx-box-border transparent transparent;
       -fx-font: 13px "Segoe UI";
       -fx-border-insets: 0;
   }


   .table-cell:hover {
       -fx-background-color: #ffa0a0;
   }

   .table-row-cell:empty, .table-cell:empty:hover {
       -fx-background-color: whitesmoke;
   }


   .table-row-cell:empty .table-cell {
       -fx-border-width: 0px;
   }


   .table-view:row-selection .table-row-cell:filled:hover {
       -fx-background-color: rgba(28, 183, 236, 0.25);
   }


   .table-view:row-selection .table-row-cell:filled:selected:hover {
       -fx-background-color: rgba(98, 100, 243, 0.9);
   }


   .table-view:row-selection .table-row-cell:filled:selected {
       -fx-background-color: rgba(28, 183, 236, 0.65);
   }

   .table-view, .table-view:focused {
       -fx-background-color: transparent,-fx-box-border,-fx-control-inner-background;
       -fx-background-insets: -1.4, 0, 1;
       -fx-background-radius: 1.4, 0, 0;
   }

   .table-view .column-header .label{
       -fx-text-fill: #52677A;
       -fx-alignment: CENTER;
   }

   .table-view .column-header:hover {
       -fx-background-color: whitesmoke;
   }

.table-view .column-header, .table-view .filler {
       -fx-background-color: white;
       -fx-size: 45;
       -fx-border-color: -fx-box-border;
       -fx-border-width: 0 1 3 0;
       -fx-border-insets: 0;
   }


   .table-view .column-header-background {
       -fx-background-color: transparent;
   }


   .table-view .show-hide-columns-button {
       -fx-background-color: white;
       -fx-border-color: -fx-box-border;
       -fx-border-insets: 0;
   }
